.footer {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: white;
    text-align: center;
}

.footer .registro {
  background-color: #1c1c1c;
  padding-top: 17px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .copyright{
  margin: 15px;
}