.panel {
	margin-top: 20px;
}

.panel_izquierdo {
	color: white;
	background-color: #0ece5e;
	padding: 20px;
}

.panel_derecho {

}

.titulo_proyecto{
	font-size: 65px;
	color: black;
}

.wrap_image{
	margin: 15px;
	text-align: center;
  	vertical-align: center;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  /*margin-top: 10px;
  margin-bottom: 10px; */
}
.thumbnail {
  height: 100%;
}
/*.thumbnail {
    position: relative;
    height: 300px;
 }*/

.row-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}*/

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.tag {
	border-radius: 5px !important;
	padding: 5px;
	color: white;
	background-color: #4286f4;
}