div.navbar_config{
  font-family: 'Roboto', sans-serif;
  background-color: #0f6bff;
  border-radius: 0 !important;
}

div.navbar_config .navbar-header > a:link, a:hover, a:active, a:visited{
  color: white;
  text-decoration: none;
}

div.navbar_config .navbar-right > li > a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

div.navbar_config .navbar-right > li > a:hover {
  background-color: #0b4fbc;
  text-decoration: none;
}

div.navbar_config ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
  color: white;
  background-color: #0b4fbc;
}

div.navbar_config .navbar-nav > li > .dropdown-menu { 
  background-color: white; 
}

div.navbar_config .navbar-nav > li > .dropdown li { 
  display: block;
}

div.navbar_config .navbar-nav > li > .dropdown-menu a:hover{ 
  text-decoration: underline;
  background-color: white;
}

div.navbar_config .navbar-nav > li > .dropdown-menu a{ 
  margin-top: 15px;
  margin-bottom: 15px;
}

div.navbar_config .navbar-default {
  height:auto!important;
}

div.navbar_config .navbar-header a:hover{
  text-decoration: none !important;
}