extends ../templates/default

block content_head
  link(rel="stylesheet" href="stylesheets/lista_proyectos.css")

block content
  div()
    div(class="container")
      h1(class="text-center")="Conócenos"
      div(style="font-size: 16px;")
        p(class="text-justify")="CAT - project (Catálogo de proyectos) nace en el año 2017 como un proyecto para la materia de Ingeniería de Software I impartida en la Licenciatura en Ciencias de la Computación de la Universidad de Sonora."
        p(class="text-justify")="El equipo de desarrollo se encuentra integrado por: Víctor Ariel Noriega Ortiz, Sebastián Rodríguez Serrano y Francisco Javier Vicente Tequida. Actualmente nos encontramos en una primera versión con la esperanza de poder continuar y llevar a cabo nuestra visión."

        div(class="row")
          div(class="col-md-6")
            p(class="text-justify")="Consideramos y seguiremos considerando importante la contribución a la ciencia como el motor de nuestra sociedad y es por ello que hemos decidido emprender este proyecto. Ofrecemos un espacio a todos aquellos que compartan nuestra ideología para que sean capaces de hacer su propia contribución y ver resultados."
          div(class="col-md-6")
            img(src="/images/logo.jpeg" class="text-center" style="width: 100%;")
