extends ../templates/default

block content
  div(style='margin: 100px;')
    div(class='container')

      <!-- Importante Esto es mucho texto para mandar el footer hasta el fondo -->
      
      img(src='images/cat.jpg' style='margin-left:300px; filter:brightness(0.5); width: 50%; margin-bottom: 100px;')
      h1(class='text-center','mision' style='font-size: 54px; margin-bottom: 100px; position: absolute; top: 50%; left:46%; color: white; ')='Misión'
      p(class='text-justify' style='margin-left: 100px; margin-right: 100px; font-size: 18px;' )='Nuestra misión como equipo es lograr ofrecer una plataforma virtual que permita a estudiantes publicar proyectos entre la comunidad de nivel medio superior y superior, así como ante organismos empresariales interesados en apoyar la innovación y el talento generado en las aulas a través de acercamientos tempranos al mundo laboral, ya sea por medio de la realización de prácticas profesionales y hasta ofertas laborales.'
      p(class='text-justify' style='margin-left: 100px; margin-right: 100px;font-size: 18px;')='Más específicamente, buscamos promover el interés en la investigación y la publicación de proyectos a través de una plataforma versátil, flexible y amigable para las organizaciones y los estudiantes. Simultáneamente, buscamos incentivar a los estudiantes a realizar proyectos desde niveles más tempranos, con el fin de fomentar la cultura emprendedora desde su estancia en la escuela.'
      p(class='text-justify' style='margin-left: 100px; margin-right: 100px;font-size: 18px;')='Desde luego, esto implica crear una cultura en la que las personas se preocupen por los proyectos tecnológicos locales, avances científicos más recientes, aquellos en los que se estén trabajando, y en los que se planea trabajar.'
