extends ../templates/default

block content
  div(style='margin: 100px;')
    div(class='container')

      <!-- Importante Esto es mucho texto para mandar el footer hasta el fondo -->
      
      img(src='images/cat2.jpg' style='margin-left:300px; filter:brightness(0.5); width: 50%; margin-bottom: 100px;')
      h1(class='text-center' style='font-size: 54px; margin-bottom: 100px; position: absolute; top: 40%; left:46%; color: white; ')='Visión'
      p(class='text-justify' style='margin-left: 100px; margin-right: 100px; font-size: 18px;' )='La visión que tenemos en CAT-Project es la de un proyecto que en largo plazo pueda crear un mayor acercamiento entre los estudiantes, las escuelas y las organizaciones. Buscamos que CAT-Project sea ese vínculo que en la actualidad no está tan claro para los estudiantes. Nuestra intención es que en un futuro los estudiantes puedan participar con empresas, instituciones y demás programas, ya sean laborales o académicos, de su mayor agrado. Esto es, que cada estudiante pueda desarollarse personalmente de manera plena en las áreas en las que este haya estado interesado con los proyectos con lo que esté trabajando o haya trabajado.'
      p(class='text-justify' style='margin-left: 100px; margin-right: 100px;font-size: 18px;')='El equipo de trabajo de CAT-Project nota las problemática actual que tienen las empresas y organizaciones que buscan un equipo de trabajo apto y capaz, con un perfil académico que cumpla con lo necesario para poder emplearse con ellos, pero a veces es complicado encontrarlos, o hallar al más o los más adecuados para la o las vacantes. Es por esto que CAT-Project propone resolver esta problemática de manera que organizaciones y estudiantes estén conectados en una misma plataforma y ambas partes puedan ver las distintas opciones que tienen para crear vínculos, ya sea incluso estudiantes con otros estudiantes o hasta organizaciones con otras. La idea es que en un futuro CAT-Project sirva de un vínculo más formal y profesional de unir, incluir y hasta crear equipos de trabajo laborales o académicos.'
